pymc>=5
gpflow>=2.9,<2.10
tensorflow>=2.16,<2.17
tensorflow-probability>=0.24,<0.25
pytensor
seaborn
scikit-learn
scipy
numpy
ipykernel
ipywidgets
matplotlib
pandas
arviz
cloudpickle
pytest
pytest-cov
pytest-mock
